@import "./../../variables";

//===========BUTTON============
.btn-add.ant-btn-round.ant-btn-lg {
  padding: 10px 9px 10px 35px;
  height: 44px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 10px 20px 0px rgba(243, 87, 87, 0.2);
  background-color: $color-origin !important;
  border-radius: 50px;
  color: white !important;
  .anticon {
    background-color: white;
    color: $color-origin !important;
    padding: 6px;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
}
.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  background-color: $color-origin !important;
}

.ant-btn:hover,
.ant-btn:focus {
  color: white;
  border: none !important;
}
.btn-add.ant-btn-round.ant-btn-lg.green {
  background-color: $color-green !important;
  box-shadow: 0 10px 20px 0px rgba(0, 141, 14, 0.18) !important;
  svg {
    color: $color-green;
  }
}
.btn-add.orange {
  background-color: $color-yellow-1 !important;
  box-shadow: 0 10px 20px 0px rgba(189, 124, 3, 0.18) !important;
  svg {
    color: $color-yellow-1;
  }
}
