.ListTag {
  .ant-btn {
    margin-bottom: 10px !important;
  }
  .ant-list-item-meta-content {
    h4 {
      font-size: 15px;
    }
    .ant-list-item-meta-description {
      font-size: 15px;
    }
  }
}
