//HDBANK COLOR
$color-origin: #be1128;

$color-dark: #292B2E;
$color-whitehover: rgba(255, 255, 255, 0.7);

$box-shadow: 0 13px 16px rgba(8, 21, 66, 0.09);
$opacity: 0.9;

$shadow-card: 0px 12px 33px 0px rgba(62, 73, 84, 0.08);
$color-active: #ffb0bb38;

//ALTA
$color-alta: #f15a29;
$bodyBackgroundColor: #faf7f5;
$sidebar_width: 280px;
$sidebar_width_collapse: 80px;
$color-grey: #e2e8f0;
$color-text-grey: #5B5B5B;

$sidebarBackgroundColor: #292b2e;
$borderRadius-body: 8px;
$alta_sidebar_width: 127px;
$color-scrollBar: #F9B8A3;
$color-blue: #5A7BF0;