$color-gray-bg: #ededed;
$color-gray-button: #d9d9d9;
$color-white: #ffffff;
$color-gray-text: #afaeae;
$color-red-button: #ed1d24;
$color-blue-text: white;
$color-sidebar: #0f0f0f;
$color-alta: #ff7d0a;
$color-bg-btn: #092a4a;
$color-grey-text: #707070;
$color-bg-btn-gray: #545b62;
$color-bg-btn-green: #0f9d58;
$color-bg-btn-forestgreen: #02723a;
$color-yellow: #fef701;
$color-border-input: #a49e9e;
.title {
  margin-bottom: 35px;
  font-size: 24px;

  font-weight: 600;
  color: $color-grey-text;
}
