$color-gray-bg: #ededed;
$color-gray-button: #d9d9d9;
$color-white: #ffffff;
$color-gray-text: #afaeae;
$color-red-button: #ed1d24;
$color-blue-text: white;
$color-sidebar: #0f0f0f;
$color-alta: #ff7d0a;
$color-bg-btn: #092a4a;
$color-grey-text: #707070;
$color-bg-btn-gray: #545b62;
$color-bg-btn-green: #0f9d58;
$color-bg-btn-forestgreen: #02723a;
$color-yellow: #fef701;
$color-border-input: #a49e9e;

.button-component {
  text-transform: capitalize;
  border-radius: 10px !important;
  border: 2px solid transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0 20px;
  height: 35px;
  font-size: 13px;
  min-width: 90px !important;
  align-self: center;
  background-color: $color-bg-btn;
  color: white;

  span {
    font-size: 18px !important;
  }
  &:hover {
    // opacity: .65;
    color: #fef701;
  }

  &:focus {
    outline: 0;
    border: 2px solid #cbd2d6;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.7;
    cursor: no-drop;
  }
}

.disabled {
  cursor: not-allowed;
}

.button-red {
  background: $color-red-button;
  color: $color-white;
}

.button-gray {
  background: $color-bg-btn-gray;
  color: $color-blue-text;
}

.button-green {
  background-color: $color-bg-btn-green;
  color: $color-white;
}
.button-forestgreen {
  background-color: $color-bg-btn-forestgreen;
  color: $color-white;
}

svg.anticon-spin path {
  color: #0f0f0f;
}

span.anticon.anticon-loading.ant-spin-dot {
  margin-left: 10px;
}

svg.anticon-spin {
  font-size: 15px;
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
  .button-component {
    padding: 0 6px;
    height: 35px;
    font-size: 10px;
    min-width: 70px !important;
  }
}
